:root {
}

body {
  background-color: #ffffff;
}

.site-nav .link {
  color: #626262;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #03a9f4;
}

.article-list .article-group {
  color: #b4ad9e;
}

.button {
  color: #707070;
}
